body{
	/* background-image:radial-gradient(circle, #63B8FF, white); */
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#logo{
    grid-column:2/3;
    font-size:40px;
    color:white;
    z-index: 2;
}
.hamburger{
justify-self:end;

height: auto;
}
.slider{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:-1;
    background:linear-gradient(to left, #ba7453, #d1a984)
}
nav{
    display:grid;
    grid-template-columns:10% 1fr 1fr 10%;
    min-height:10vh;
    color:white;
    align-items:center;

}
section{
    display:flex;
    width:100%;
    height: 80vh;
    justify-content:center;
    align-items:center;
    background:lightblue;
    z-index:;
}
.hero img{
    width:100%;
    max-height:100%;
    object-fit:cover;
    position:relative;
   
}

.headline{
    position:absolute;
    top:70%;
    left:20%;
    font-size:10vh;
    transform: translate(-20%, -70%);
    color:white;
    z-index:1;
    display:none;
    
 
}
.hero::after{
    content:"";
    background:black;
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0.6;
}


  #navbox {
    color:black;

    margin-top:146px;

    position: absolute;
    overflow: hidden;
    right: 0;
    width: 0;
    height: 63.5%;
    background-color:rgba(0,0,0,0.1);
    transition: 400ms;
    z-index: 1;
    
}


 #btn {
  

    margin-right: 20px;
    z-index: 3;
    color:white;
 }

#btn div {
    position: relative;
    margin-top: 10px;
    width: 35px;
    height: 2px;
    background: white;
    transition: 300ms;
}
#btn:hover{
    background-color: blue;
}

.d1 {
    background: #f00 !important;
    top: 2px;
    transform: rotate(45deg);
}

.d2 {
    margin: 0 !important;
    display: none;
}

.d3 {
    background: #f00 !important;
    top: 0;
    margin: 0 !important;
    transform: rotate(-45deg);
}

#navs {
    position: relative;
    margin-top: 55px;
    display: block;
    transition: 900ms;
}

#navs a {
    position: relative;
    margin-left:20px;
    right: 7%;
    margin-top: 5px;
    padding: 25px;
    width: 100%;
    display: block;
  
    text-decoration: none;
    outline: none;
    font-weight: bolder;
    font-size:3vh;
    transition: 400ms;

}

#navs a:hover {
    background:rgba(0,0,0,0.5);

}
@media screen and (max-width: 640px) {
    #navs a{
     
        font-size:2vh;
        padding:5px;
        right: 2%;
    }
    #navbox{
        height:25%;
    }
  }

  @media screen and (max-width: 970px) {
    .headline{
     
        padding:10px;
    }
  }

  .carousel-item img{
      width:85%;
      height:auto;
      
  }
  .proj-title{
     background-color:rgba(0,0,0,0.75); 

      width:30%;
      margin-left:36%;
  }
  .details-section{
      margin-top:100px;
  }
 .card{
     margin-top:200px;
 }
 .abt{
    position:absolute;
    top:55%;
    left:25%;
    font-size:4vh;
    transform: translate(-20%, -70%);
    color:white;
    z-index:1;
    background-color:rgba(0,0,0,0.5);
    width:60%;
    padding-left: 5px;
 
    
 }
 #icon,#gicon{
     width:10%;
     height: auto;
     
 }
 #abt,#skil,#conts{
     display:none;
 }
 ul{
     /* list-style: none; */
     padding-left:40px;
 }